.root-wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.logo {
  width: 16px;
  height: 16px;
  margin-right: .25rem;
}

.footer {
  padding: 3rem 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}