body {
  background-size: 1.75rem 1.75rem;
  background-image: linear-gradient(to right, #eee 1px, transparent 1px), linear-gradient(to bottom, #eee 1px, transparent 1px);
}

.root-wrapper {
  min-height: 100vh;
  overflow: hidden;
  display: block;
  position: relative;
  padding-bottom: 100px;
}

.logo {
  width: 16px;
  height: 16px;
  margin-right: .25rem;
}

.footer {
  padding: 3rem 1.5rem;
  position: absolute;
  bottom: 0;
  width: 100%;
}

.press-wrapper {
  margin-top: .25rem !important;
}

.press-wrapper li {
  line-height: .75rem;
}

.press-wrapper li a {
  font-size: .75rem;
}

.press-wrapper li a:before {
  content: "📰";
  margin-right: .25rem;
}

.content ul li.sub {
  margin-top: 1rem;
}

@media (max-width: 1023px) {
  .section {
    padding-top: 1.5rem;
  }

  .content ul {
    margin-left: 1rem;
  }

  .content ul ul {
    margin-top: .25rem;
  }
}
